html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  background-color: #f0efea;
}

#root {
  height: 100vh;
}
.App {
  text-align: center;
  font-family: 'Poppins';
}

.contenedor {
  height: 100%;
}

.todo {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 14px;
}
.sub-todo {
  display: flex;
  align-content: center;
}

.icons {
  color: rgb(14, 8, 24);
  margin-left: 15px;
  cursor: pointer;
}

.contenedor-header {
  width: 100%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-fecha {
  display: flex;
  align-items: center;
}

.capitalize-day {
  font-size: 34px;
  font-weight: 700;
  height: auto;
}

.mm-yy {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  align-items: flex-start;
}

.day {
  font-size: 13px;
  font-weight: 600;
}

.add-icon {
  font-size: 3.5rem;
  color: #c81d25;
}

p {
  margin-top: 0 !important;
}
