.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenedor {
  height: 70%;
}

.todo {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}
.sub-todo {
  display: flex;
  align-content: center;
}

.icons {
  color: rgb(14, 8, 24);
  margin-right: 10px;
  cursor: pointer;
}

.contenedor-header {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-fecha {
  display: flex;
  align-items: center;
}

.capitalize-day {
  font-size: 32px;
  font-weight: 700;
  height: auto;
}

.mm-yy {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  align-items: flex-start;
}